{% extends "base.html" %}
{% load static %}


{% block title %}
     Home
{% endblock %}

{% block styles %}
    
{% endblock %}

{% block content %}
       <div class="flex flex-col items-center justify-center h-64  p-6">
    <h1 class="text-4xl font-bold text-center text-blue-600 mb-6">Welcome to SyncBot</h1>
    <p class="text-lg text-center text-gray-200 mb-6">Your AI assistant powered by Google's Gemini API.</p>

    <div class="flex space-x-4">
        <button class="p-4 bg-red-500 text-white rounded-lg shadow-md hover:bg-red-600 transition duration-200 transform hover:scale-105" onclick="window.location.href='/home'">
            Start Chatting
        </button>
        <button class="p-4 bg-blue-500 text-white rounded-lg shadow-md hover:bg-blue-600 transition duration-200 transform hover:scale-105" onclick="window.location.href='/profile'">
            My Profile
        </button>
        <button class="p-4 bg-gray-500 text-white rounded-lg shadow-md hover:bg-gray-600 transition duration-200 transform hover:scale-105" onclick="window.location.href='/login'">
            Login
        </button>
        <button class="p-4 bg-green-500 text-white rounded-lg shadow-md hover:bg-green-600 transition duration-200 transform hover:scale-105" onclick="window.location.href='/sign-up'">
            Register
        </button>
    </div>
</div>

{% endblock %}